.nav-bar
{
display: flex;

justify-content: space-between;
/* align-self: center;*/
 flex-direction: row;
 margin: -10px -10px -10px -10px;
background-color: gray;

height: 5%;
  text-align: center;
  text-transform: uppercase;
-webkit-transition: all 0.5s;
transition: all 0.5s;
}
.nav-item-list
{
  display: flex;
justify-content: flex-end;
flex-direction: row;


}
.nav-bar-name{
  font-family: 'Audiowide', cursive;
  font-size: 1.5em;
  text-align: left;
  -webkit-transition: 2s;
  transition: 2s;
/*justify-content: flex-start;*/
order: -1;
}
.nav-bar-name:hover{
 color: blue;
}
.nav-item{

  display: flex;
  /*align-self: center;
  justify-content: center;
*/  font-family: 'Squada One', cursive;
  text-align: center;
  font-size: 2em;
  width: 300%;
  flex-flow: wrap;
  height: 100%;
padding: 0;
  background-color: gray;

    -webkit-transition: 2s;
    transition: 2s;
}

.nav-item a{
  -webkit-transition: 0.5s;
padding: 0px 10px;
  transition: 0.5s;

  text-decoration: none;
}

.nav-item a:hover{

background-color:red;
}
@media (min-width:300px) {
  .nav-bar{
    height: 5%;
  }
}

@media (min-width:600px) {
  .nav-bar{
    height: 4em;

  }
    .nav-bar-name{
      font-size: 2em;
    }
}
