
.nav-bar
{
display: flex;

justify-content: space-between;
/* align-self: center;*/
 flex-direction: row;
 margin: -10px -10px 0px -10px;
background: #0097A7;
height: 2em;
  text-align: center;
  text-transform: uppercase;
z-index: 5;
animation: nav-ani 1s 1;
}

.nav-item-list
{
  display: flex;
justify-content: flex-end;
flex-direction: row;

z-index: 5;
}
.nav-bar-name{
  font-family: 'Audiowide', cursive;
  font-size: 1.5em;
  text-align: left;
  -webkit-transition: 2s;
  color:#ffffff;
  transition: 2s;
/*justify-content: flex-start;*/

z-index: 5;
order: -1;
}
.nav-bar-name:hover{
 color: blue;
}
.nav-item{
z-index: 5;
  display: flex;
  /*align-self: center;
  justify-content: center;
*/  font-family: 'Squada One', cursive;
  text-align: center;
  font-size: 2em;
color:#B2EBF2;
  width: 300%;
  flex-flow: wrap;
  height: 100%;

padding: 0;
  background: #0097A7;


}

.nav-item a{
  z-index: 5;
  -webkit-transition: 0.5s;
padding: 0px 10px;
  transition: 0.5s;

  text-decoration: none;
  color:#FFFFFF;
}

.nav-item a:hover{

background-color:red;
}

.page-head
{
  display: flex;
  align-items: flex-end;
  margin: 0px -10px -10px -10px;
  height: 7em;
background: #B2EBF2;
  border-bottom-color: rgba(0, 0, 0, 0.5);
  border-bottom-style: outset;
  animation: head-ani ease 1s 1;
}
.page-head-name
{

  z-index: 4;
font-size: 5em;
  font-family: 'Audiowide', cursive;
margin: -10px -10px -25px 0px;

animation:namemove ease 1s 1;
}
.home-head{
  display: flex;
  align-items: flex-end;
  margin: 0px -10px -10px -10px;
  height: 10em;
  background: rgba(0,0,0,-0.5) url('../img/background.png');
  border-bottom-color: rgba(0, 0, 0, 0.5);
  border-bottom-style: outset;
  animation: head-ani ease 1s 1;


}
.home-head-name{
  z-index: 4;
font-size: 1.5em;
  font-family: 'Audiowide', cursive;
margin: -10px -10px -25px 0px;

animation:namemove ease 1s 1;
}
form{
  /*
  Form code partly borrowed from http://codepen.io/UoN-ThomasRose/pen/NbYrGjs
  */
  border: solid black 2px;
  padding: 1em;
  width: 40%;
  min-width: 15em;
  max-width: 40em;
}
textarea {
  width: 96%;
  resize: none;
}
@keyframes nav-ani {
      0%{
        transform: translateY(-100px);
      }
      100%{
        transform: translateY(0px);
      }

}

@keyframes namemove {
    0%{
      transform: translateX(-300px);
    }
    100%{
      transform: translateX(0px);
    }
}
@media (max-width:600px) {
  .nav-bar{
    height: 4em;

  }
@media (max-width:300px) {
  .nav-bar{
    height: 6em;

  }
    .nav-bar-name{
      /*font-size: 2em;*/
    }
}
